body{
  margin: 0;
  padding: 0;
}

.loader__container , .QR__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.QR__container img{
  border-radius: 10px;
}